<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</head>
<body> 
  <p> 
 

<div class="container">
 <div class="row">




 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <a href="#" class="btn btn-warning float-right">29% OFF </a>
        <h5 class="card-title">Chakra Special</h5>
         <h3 class="card-text"> Rs.68 </h3>
        <h6 class="card-text"><strike> Rs.96</strike></h6>
        <a href="#" class="btn btn-success"> 1 Packet</a>
      </div>
    </div>
  </div>



<div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <a href="#" class="btn btn-warning float-right">36% OFF </a>
        <h5 class="card-title">Flower Pot</h5>
         <h3 class="card-text"> Rs.80 </h3>
        <h6 class="card-text"><strike> Rs.125 </strike></h6>
        <a href="#" class="btn btn-success"> 1 Packet</a>
      </div>
    </div>
  </div>

<div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <a href="#" class="btn btn-warning float-right">31% OFF </a>
        <h5 class="card-title">Electric 12 Inch</h5>
         <h3 class="card-text"> Rs.24</h3>
        <h6 class="card-text"><strike> Rs.35 </strike></h6>
        <a href="#" class="btn btn-success"> 1 Packet</a>
      </div>
    </div>
  </div>

</div>
</div>





<br>

<div class="container">
 <div class="row">

 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <a href="#" class="btn btn-warning float-right">23% OFF </a>
        <h5 class="card-title">Pencil - 10 Inch</h5>
         <h3 class="card-text"> Rs.85 </h3>
        <h6 class="card-text"><strike> Rs.110 </strike></h6>
        <a href="#" class="btn btn-success"> 1 Packet</a>
      </div>
    </div>
  </div>


 <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <a href="#" class="btn btn-warning float-right">15% OFF </a>
        <h5 class="card-title">Twinkling Star - 4 Inch</h5>
         <h3 class="card-text"> Rs.110</h3>
        <h6 class="card-text"><strike> Rs.130 </strike></h6>
        <a href="#" class="btn btn-success"> 1 Packet </a>
      </div>
    </div>
  </div>


   <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
         <a href="#" class="btn btn-warning float-right">38% OFF </a>
        <h5 class="card-title">Electric Stone</h5>
         <h3 class="card-text"> Rs.25 </h3>
        <h6 class="card-text"><strike> Rs.40 </strike></h6>
        <a href="#" class="btn btn-success"> 1 Packet </a>
      </div>
    </div>
  </div>

</div>
</div>


<br>
<center>
<a href="https://drive.google.com/open?id=1C6wNNiXr4OrxNi8CDfYT5IvTA0JV2xh1" class="btn btn-info" target="_blank">Show More Crackers</a>
</center>




