<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body> 
  <p> 
 
<div class="container">
 <div class="row">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lakshmi vedi</h5>
        <p class="card-text">10 pcs</p>
        <a href="#" class="btn btn-success">Rs.250<br><strike><b>Rs.500</b> </strike> 50% off</a>
      </div>
    </div>
  </div>
<br>

  

<div class="row text-center h-100">
  <div class="col-md-4 text-center my-auto">
    <div class="card card-block d-flex" style="height: 120px">
      <div class="card-body align-items-center d-flex justify-content-center">
        This is some text within a card body.
      </div>
    </div>
  </div>
</div>

<br>
    <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">rocket vedi</h5>
        <p class="card-text">20 pcs</p>
        <a href="#" class="btn btn-success">Rs.350<br><strike><b>Rs.600</b> </strike> 55% off</a>
      </div>
    </div>
  </div>
<br>

    
</div>
</div>


<br>

<div class="container">
 <div class="row">

  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lakshmi vedi</h5>
        <p class="card-text">10 pcs</p>
        <a href="#" class="btn btn-success">Rs.250<br><strike><b>Rs.500</b> </strike> 50% off</a>
      </div>
    </div>
  </div>


    <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">rocket vedi</h5>
        <p class="card-text">20 pcs</p>
        <a href="#" class="btn btn-success">Rs.350<br><strike><b>Rs.600</b> </strike> 55% off</a>
      </div>
    </div>
  </div>



    <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">rocket vedi</h5>
        <p class="card-text">20 pcs</p>
        <a href="#" class="btn btn-success">Rs.350<br><strike><b>Rs.600</b> </strike> 55% off</a>
      </div>
    </div>
  </div>

</div>
</div>


